[Unit]
Description=Minia Audio Service
After=minia-server.service minia-tts.service
Requires=minia-server.service minia-tts.service

[Service]
Type=simple
WorkingDirectory=/home/fab/dev/std/minia
ExecStart=uv run minia-chatloop
Restart=on-failure
RestartSec=5
#StandardOutput=append:/home/fab/dev/std/minia/minia-chatloop.log
#StandardError=append:/home/fab/dev/std/minia/minia-chatloop.log

[Install]
WantedBy=default.target
